body {
    font-family: "poppins";
    font-size: 21.125px;
    background: black;
    /* background: linear-gradient(137deg, #043927, #000000); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    color: white;
    margin: 0;
    padding: 0;
}
.back i{
    font-size: 2rem;
} 

a i{
    color: white;
}



.head{
    margin: auto;
    border: 0px solid black;
    width: fit-content;
    font-weight: 600;
    font-size: large;
}

main{
    width: 95%;
    border: 0px solid black;
    margin: auto;
    text-align: center;
    margin-top: 6rem;
}

.top{
    display: flex;
    border: 1px solid #ffbf00;
    width: 60%;
    margin: auto;
    padding-inline: 5px;
    border-radius: 10px;
    align-items: baseline;
    font-family: "poppins";
    font-size: 16px;
}

input{
    background: transparent;
    border: none;
    width: 40%;
    text-align: left;
    /* font-size: 15px; */
     margin-left: .3rem;
    /*margin-bottom: 0;
    padding-bottom: 0; */
    outline: none;
    overflow: hidden;
    font-size: 19px;
    height: 40px;

}



button{
    margin-top: 3rem;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: 600;
    border: 1px solid #ffbf00;
    width: 60%;
    background: transparent;
    /* background: linear-gradient(187deg, #043927, #000000); */
    color: white;
}

@media (max-width:670px){
    main{
        width: 100%;
    }

    input{
        width: 70%;
        outline: none;
        margin-bottom: 0;
        padding: 0;
        /* font-size: 16px; */
        color: white;

    }

}