body{
    background-color: #000;
    font-family: "poppins", sans-serif;
    overflow: hidden;
}

.head{
    border: 0px solid white; 
    margin: 20px auto; 
    width: 95%; 
    display: flex; 
    align-items: center;
}

.logoDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 0px solid #fff;
    width: 50%;
}

img{
    width: 100%;
    height: 100%;   
}

.logoImg{
    width: 45px;
    /* height: 70px; */
    border: 0px solid #fff;
    padding-right: 13px;
}

.logoText{
    color: #fff;
    font-size: 40px;
    /* font-weight: bold; */
    /* margin-left: 10px; */
    font-family: "Audiowide", sans-serif;
    border: 0px solid #fff;
    color: #ffbf00;
}

.menu{
    border: 0px solid white; color: white; display: flex; align-items: center; justify-content: space-around; margin-left: auto; padding: 10px; border-radius: 5px; font-size: 1.2rem; font-weight: 400; 
    width: 40%;
}

.menu .li{
    list-style: none;
    color: white;
    /* display: inline-block; */
    /* padding-right: 20px; */
    font-size: 14px;
    font-weight: 600;
}

.menu .li a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.menu .li a:hover{
    color: #ffbf00;
}

/* Active menu item */
/* .menu .li a.active {
    color: #ffbf00; Highlight active menu item
    font-weight: bold; Optional: Make it bold
} */

main{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    border: 0px solid #fff;
    width: 95%;
    /* height: 100vh; */
}

.phonelay {
    position: relative;
    z-index: 1;
    border: 0px solid #fff;
  }
  
  .phonelay::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 204, 0, 0.5) 0%, transparent 70%);
    filter: blur(40px);
    z-index: -1;
  }
  
  .heroSection{
    border: 0px solid white;
    width: 50%;
  }

  .dynamic-text-box {
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    border: 0px solid white;;
    transition: all 0.4s ease-in-out;
  }
  
  #dynamic-heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
    width: 90%;
  }
  
  #dynamic-subtext {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 80%;;
    transition: opacity 0.3s ease;
  }

  .getStartedButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffbf00;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .getStartedButton:hover {
    background-color: #ce9700;
    transform: translateY(-2px);
  }
  

  /* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .head{
        display: block;
        border: 0px solid white;
        width: 100%;
        margin: 0px;
    }

    .logoDiv{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .logoImg{
        width: 35px;
        /* height: 70px; */
        border: 0px solid #fff;
        padding-right: 10px;
    }
    
    .logoText{
        
        font-size: 25px;
        /* font-weight: bold; */
        /* margin-left: 10px; */
        font-family: "Audiowide", sans-serif;
        border: 0px solid #fff;
        color: #ffbf00;
    }
    

    .menu{
        margin: auto;
        margin-left: 0px;
        width: 94%;
        border: 0px solid white;
        font-size: 12px;
        font-weight: 600;
    }

    .menu .li{
        list-style: none;
        color: white;
        border: 0px solid white;
        /* display: inline-block; */
        /* padding-right: 20px; */
    }

    main{        
        display: flex;
        flex-direction: column-reverse; /* Reverse the order of children */
        align-items: center;
        padding-top: 10px;
    }

    .phonelay {
        position: relative;
        z-index: 1;
        right: 5%;
        top: 20px
      }
      
      .phonelay::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        /* height: 100%; */
        background: radial-gradient(circle, rgba(255, 204, 0, 0.5) 0%, transparent 70%);
        filter: blur(40px);
        z-index: -1;
      }
      
      .heroSection{
        border: 0px solid white;
        width: 100%;
        text-align: center;
        margin-top: 20px;
      }

      .dynamic-text-box {
        width: 100%;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 10px;
        border: 0px solid white;;
        transition: all 0.4s ease-in-out;
        height: 150px;
      }
      
      #dynamic-heading {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 5px;
        transition: opacity 0.3s ease;
        width: 90%;
        border: 0px solid white;
        margin: auto;
      }
      
      #dynamic-subtext {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        width: 100%;;
        transition: opacity 0.3s ease;
      }
    
      .getStartedButton {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #ffbf00;
        color: #000;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        width: 80%;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }
}