html{
    overflow: hidden;
}

body {
    font-family: "poppins";
    font-size: 21.125px;
    background: black;
    /* background: linear-gradient(137deg, #043927, #000000); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    color: white;
    overflow-y: hidden;
    width: 100%;
    margin: 0;
}

.back i{
    font-size: 2rem;
}

header{
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    display: flex;
}

.head{
    font-size: large;
    font-weight: 600;
    border: 0px solid black;
    width: fit-content;
    margin: auto;
}



img{
    width: 100%;
}


@media (max-width:670px){
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav li{
        margin: .5em 0;
    }

    nav a{
        font-size: small;
    }

    .logo{
        width: 20%;
        margin-top: -.9rem;
    }
    
    .all{
        display: flex;
        margin-left: 3rem;
    }
    
    img{
        width: 100%;
    }
}

/*****main**********/
main{
    font-family: "poppins";
    /* border: 2px solid white; */
    /* width: 100%; */
}

form{
    border: 0px solid black;
    text-align: center;
    font-family: "poppins";
    /* margin-top: rem; */
}


.network{
    border: 0px solid black;
    width: 90%; 
    margin: auto;
    font-family: "poppins";
    margin-top: 4rem;
    /* display: flex; */
}

.MOBILEMTN{
    width: 20%;
    margin: auto;
    margin-bottom: 5rem;
}


input{
    background: transparent;
    border: none;
    width: 50%;
    text-align: center;
    margin-left: .5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    outline: none;
    overflow: hidden;
    font-size: 10px;
    color: white;
}


.submit{
    font-size: 1.1rem;
}


input::placeholder{
    font-size: 20px;
}

select{
        background: transparent;
        border: none;
        width: 75%;
        text-align: left;
        margin-left: .5rem;
        margin-bottom: 0;
        padding-bottom: 0;
        outline: none;
        overflow: hidden;
        font-size: 20px;
        color: white;
}

select option{
    color: black;
}

/* .fig{
    border: 1px solid white;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid grey;
    width: 70%;
    margin: auto;
    padding: 0;
    font-size: larger;
    align-items:end;
    text-align: center;
}

.figa{
    border-bottom: 1px solid grey;
    width: 60%;
    margin: auto;
    padding: 0;
    font-size: larger;
    text-align: center;
    align-content: center;
    align-items: center;
}

.figa input{
    font-size: 20px;
    width: 80%;
} */

.num{
    border: 0px solid black;
    display: flex;
    border-bottom: 1px solid grey;
    width: 70%;
    margin: auto;
    padding: 0;
    font-size: 20px;
    margin-top: 2rem;
    align-items:end;
    text-align: center;
}


.num1{
    border: 0px solid black;
    display: block;
    border-bottom: 1px solid grey;
    width: 70%;
    margin: auto;
    padding: 0;
    font-size: larger;
    margin-top: 1rem;
    text-align: center;
}

.number1{
    font-size: 1.4rem;
}

.num input{
    width: 90%;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0px solid black;
    margin-top: -1rem;
    font-size: larger;
}

.num p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 25px;
    margin-left: 2rem;
}


.fig{
    border: 1px solid #ffbf00;
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 5px;
    height: 40px;
    margin: 15px auto;
    font-family: "poppins";
    justify-content: left;
}


.fig .icon {
    /* padding-bottom: 0; */
    margin-bottom: 0;
    /* margin-left: 2rem; */
    font-size: 22px;
    font-family: "poppins";
    font-weight: 600;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    align-items: center;
    height: 32px;
}
/* 
.fig input{
    width: 90%;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0px solid black;
    font-size: 20px;

} */
/* 
.icon{
    font-size: 2rem;
    margin-left: 2rem;
    font-family: "poppins";
    border: 1px solid white;
} */

.amount-input{
    /* border: 1px solid white; */
    font-family: "poppins";
    height: 32px;
    /* font-size: 18p; */
    text-align: left;
}



.amount{
    /* border: 1px solid white; */
    font-family: "poppins";
    width: 80%;
    text-align: left;
    height: 100%;
    font-size: 19px;
    font-weight: 400;
    margin-left: 4px;
    /* height: 40px; */
}

.submit{
    border-radius: 2rem;
    margin-top: 3rem;
    border: 1px solid #ffbf00;
    /* background: linear-gradient(17deg, #043927, #212020); */
    color: white;
    width: 80%;
    /* padding: .5rem; */
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: "poppins";
}

a i{
    color: white;
}