html{
    overflow-x: hidden;
}

a i{
    font-size: 2rem;
    color: white;
}

header{
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    border: 0px solid black;
    display: flex;
}


body{
    font-family: "poppins";
    font-size: 21.125px;
    background: linear-gradient(137deg, #043927, #000000);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.head{
    border: 0px solid black;
    width: fit-content;
    margin: auto;
    font-size: large;
    font-weight: 600;
}


.container{
    margin-top: 4rem;
}

.container a{
    text-decoration: none;
    color: #043927;
}




.tab{
    border-radius: .5rem;
    width: 90%;
    align-items: center;
    padding: .2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    margin: auto;
    color: white;
    background: #ffffff1c;
    backdrop-filter: blur(-16px) saturate(110.5);
    box-shadow: -3px 20px 20px 13px #00000080;
    margin-top: 1.4rem;
}

.tab p{
    margin-left: .8rem;
}


.logout{
    width: 82%;
    margin: auto;
    font-size: 1.7rem;
    border:0px solid black;
    border-radius: 4rem;
    background: none;
    text-align: center;
    margin-top: -.5rem;
    padding: 0rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

.logout a{
    color: rgb(159,9, 9);
    text-decoration: none;
    
}

.tag1{
    color: grey;
    font-size: small;
    font-weight: 100;
    border: 0px solid white;
    padding: 0;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: -.5rem;
}

.tag{
    color: grey;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
}

.tag p{
    font-size: medium;
}