html{
    overflow-x: hidden;
}

body{
    font-family: "poppins";
    font-size: 1.125;
    margin: 0;
    background-color: black;
    /* background:linear-gradient(137deg, #043927, #000000); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


header .container{
    width: 90%;
    border: 0px solid blue;
    margin:0 auto;
    opacity: 100%;
    color: black;
}


header .container-nav{
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
}

@media (max-width: 670px){
    .container-nav{
        flex-direction: column;
    }
}

label{
    color: beige;
}

header{
    padding: .2rem;
    width: 100%;
    border: 0px solid black;
    margin: 0;
    background-color: white;
}

@media (max-width:670px){

    html{
        overflow-x: hidden;
    }
    
    
    header{
        text-align: center;
        padding: 0;
    }
}


header h1{
    font-size: 2rem;
    color: #143774;
    font-weight: 900;
    margin: 0;
}

.logo{
    width: 13%;
    /* margin-top: -1.5rem; */
}

.all{
    display: flex;
}

img{
    width: 100%;
}

.subtitle{
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    color: black;
}



nav li{
    margin-left:2em;
    color: black;
}

nav a{
    text-decoration: none;
    font-weight: 700;
    color: purple;
}


nav a:hover,
nav a:focus,
nav a:active{
    color: red;
    text-decoration: underline;
}

@media (max-width:670px){

    nav{ 
        display: none;
    }
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav li{
        margin: .5em 0;
    }

    nav a{
        font-size: small;
    }

    .logo{
        width: 20%;
        margin: auto;
        margin-top: 4rem;
        /* margin-top: -.9rem; */
    }
    
    .all{
        display: flex;
        margin-left: 3rem;
    }
    
    img{
        width: 100%;
    }
}


/*********MAIN BODY*********/


p{
    color: beige;
}

main .cont{
    width: 95%;
    margin: auto;
}

.cont form{
    padding: 0;
}

.remeber{
    padding-bottom: 1rem;
}


img{
    width: 100%;
}

.column2{
    width: 90%;
    border: 0px solid white;
    margin-top: 5rem;
}

.column2 .container{
    width: 100%;
    border: 0px solid black;
    margin: auto;
}

@media (max-width:670px){
    main .cont{
        width: 100%;
        /* flex-direction: column;
        top: 5rem;
        left: 0;
        position: relative; */
    }

    .column2{
        width: 100%;
    }

    .column2 .container{
        width: 100%;
        margin: auto;
    }
    
    img{
        width: 100%;
    }

}

form .txt-field{
    /* position: relative; */
    /* border-bottom: 2px solid gold; */
    margin-bottom: 30px;
    /* text-align: center; */
}

.txt-field{
    width: 90%;
    margin: auto;
    /* padding:0 5px; */
    height: 40px;
    font-size: 16px;
    border: 1px solid #ffbf00;
    border-radius: .5rem;
    /* padding-left: .5rem; */
    color: white;
    background: none;
    outline: none;
}

.txt-field input{
    width: 100%;
    height: 39px;
    padding-left: 5px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: .5rem;
}

.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
    color: grey;
}

.txt-field span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0 ;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;

}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top:-5px;
    color: gold;
}

.txt-field input:focus ~ span::before,
.txt-field span:valid ~ span::before{
    width: 100%;
}


.forgotpass{
    margin:-5px 0 20px 5px;
    color: red;
    cursor: pointer;
}

.forgotpass a{
    color: beige;
}

.forgotpass:hover{
    text-decoration: underline;
}


.loginCont{
    border: 0px solid white;
    text-align: center;
    /* margin-top: .5rem; */
}

.login{
    width: 90%;
    height: 49px;
    background: transparent;
    border: 1px solid #ffbf00;
    margin: auto;
    color: white;
    font-size: 1.125rem;
    border-radius: 2rem;
    text-align: center;
    font-family: "poppins";
    font-weight: 700;
}

h2{
    color: beige;
}



input[type="submit"]:hover{
    border-color:#2691d9;

}

.signup{
    margin: 30px 0;
    text-align: center;
    font-size: 1rem;
    color:beige;
}

.signup a{
    color: white;
    text-decoration: none;
}


.signup a:hover{
    text-decoration: underline;
}








footer{
    background: rgb(41, 6, 41);
    text-align: center;
    justify-content: space-around;
}



.slider {
    width: 100%;
    overflow: hidden; /* Hide overflowing content */
    margin: auto;
  }
  
  .slides {
    border-radius: 1rem;
    display: flex;
    justify-content: space-around; /* Make slides a flex container */
    transition: transform 0.5s ease; /* Smooth transition effect */
  }
  
  .slides img {
    border: 0px solid black;
    width: 90%;
    border-radius: 1rem;
    margin: auto;
    padding: 1rem;
    justify-content: space-around; /* Ensure images fill the slider width */
  }
  
  /* Animation for slide transition */
  @keyframes slideAnimation {
    from {
      transform: translateX(0); /* Start position */
    }
    to {
      transform: translateX(-100%); /* End position */
    }
  }
  
  /* Apply animation to slides */
  .slides {
    animation: slideAnimation 5s infinite; /* Repeat infinitely every 5 seconds */
    display: flex;
    justify-content: spac;
  }
  
  /* Hover effect to pause animation on hover */
  .slider:hover .slides {
    animation-play-state: paused;
  }
  