html{
    overflow-x: hidden;
}

i{
    font-size: 2rem;
}



body {
    font-family: "poppins";
    font-size: 21.125px;
    background: black;
    /* background: linear-gradient(137deg, #043927, #000000); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0;
    margin: 0;
}



.head{
    border: 0px solid black;
    width: fit-content;
    margin: auto;
    font-size: large;
    font-weight: 600;
}

label{
    color: grey;
}

h3{
    margin-left: 1rem;
}

.container{
    border: 0px solid black;
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    text-align: left;
    background: transparent;
    padding: 1rem;
}

.num{
    display: flex;
    justify-content: space-between;
}

.det{
    display: block;
    /* justify-content: space-between;*/
    font-size: 15px; 
    /* border: 1px solid grey; */
    padding-block: 5px;
 
}

.col{
    /* border: 1px solid white; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}

.col1{
    font-weight: 700;
    border: 0px solid white;
    text-align: center;
    color: #ccc;
}

a i{
    color: white;
}

.acctInfo{
    margin: auto;
    border: .3px solid #ffbf00;
    margin-top: 20px;
    width: 90%;
    border-radius: 8px;
}